@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

body, .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}

/* Ensure rounded corners are applied */
.rounded-lg {
  border-radius: 0.5rem;
}

/* Add grab and grabbing cursors for draggable items */
.cursor-grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* Prevent text selection during drag */
.no-select {
  user-select: none;
}

